html, body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1;
}

ul {
  list-style-type: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.main-nav {
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.nav-wrapper--color {
  width: 100%;
  overflow: auto;
  background-color: #283645;
}

.main-nav__item {
  color: #ffffff;
  min-width: 280px;
  min-height: 63px;
  padding: 30px 80px;
  margin-bottom: 2px;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.15), 0 1px 0 0 black;
}

@media (min-width: 660px) {
  .main-nav__item {
    min-width: 660px;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    display: flex;
    width: 960px;
    justify-content: space-between;
    margin: 0 auto;
  }

  .main-nav__item {
    min-width: 155px;
  }
}
.links-list {
  display: flex;
  width: 320px;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
}

.links-list--color {
  background-color: #1d2631;
  width: 100%;
  min-height: 320px;
}

.links-list__item:first-child {
  display: block;
  border: 3px solid #ffffff;
  border-radius: 50px;
  padding: 21px 58px 18px 59px;
  margin-top: 28px;
}

.links-list__item:nth-child(n+2) {
  margin-top: 40px;
  margin-bottom: 29px;
}

.links-list__item:nth-child(2) {
  margin-top: 32px;
  margin-bottom: 28px;
}

.links-list__logo {
  pointer-events: none;
}

.links-list__link {
  display: block;
}

.links-list__android {
  width: 47px;
  height: 56px;
}

.links-list__apple {
  width: 43px;
  height: 47px;
}

.links-list__windows {
  width: 44px;
  height: 41px;
}

.download-links__description {
  color: #ffffff;
  text-align: center;
  width: 350px;
  margin: 0 auto;
}

.download-links {
  padding-top: 540px;
}

.download-links {
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat center, url("../img/bg-back-mobile.jpg") no-repeat top #283645;
  background-size: auto, contain;
}

.info-container {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #283645;
  background-color: #ffffff;
}

.features-list__succinct {
  line-height: 1.3;
  font-weight: bold;
}

.features-list__info {
  font-size: 14px;
}

.features-list {
  padding-top: 40px;
  padding-left: 0;
  min-height: 510px;
  background-color: #f2f2f2;
  text-align: center;
}

.features-list__item {
  width: 280px;
  margin: 0 auto;
}

.features-list__info--photo {
  padding-bottom: 280px;
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat;
  background-position: center 40px;
  background-size: contain;
}

.comments-list__comment {
  color: #283645;
  font-size: 14px;
  line-height: 2.1;
}

.comments-list__name {
  line-height: 1.6;
}

.comments-list {
  background-color: #ffffff;
  text-align: center;
  padding-left: 0;
}

.comments-list__item {
  width: 280px;
  margin: 0 auto;
}

.offers-section {
  background-color: #f2f2f2;
}

.offers-table {
  text-align: center;
}

.offers-table__head {
  color: #ffffff;
}

.offers-table__tarrif-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
}

.offers-table__tarrif-cost {
  font-weight: initial;
  line-height: 1.6;
}

.offers-table__header-cell {
  background-color: #283645;
}

.offers-table__data-cell {
  background-color: #ffffff;
  width: 153px;
  height: 45px;
}

/*# sourceMappingURL=main.css.map */
