@charset "UTF-8";
html, body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1;
}

ul {
  list-style-type: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

.main-nav {
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.header-wrapper-menu {
  width: 100%;
  background-color: #283645;
}

.header-wrapper-logo,
.main-nav__item {
  width: 280px;
  min-height: 63px;
  padding: 30px 10px;
  box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.15), 0 1px 0 0 black;
}

.main-nav__item {
  margin-top: 2px;
  margin-bottom: 1px;
  width: 100%;
}

.main-nav__item,
.main-nav__link {
  color: #ffffff;
}

.main-nav__link {
  text-decoration: none;
}

.main-nav__link:hover {
  color: #d22856;
}

.main-nav__link:active {
  color: rgba(210, 40, 86, 0.3);
}

@media (min-width: 960px) {
  .main-nav {
    width: 700px;
    justify-content: space-between;
    flex-direction: row;
    padding: 47px 0 0 0;
  }

  .main-nav__item {
    min-width: 155px;
    margin: 0;
    padding: 0;
  }

  .header-wrapper-menu {
    background-color: transparent;
    position: relative;
    z-index: 2;
  }

  .header-wrapper-logo,
.main-nav__item {
    box-shadow: none;
  }
}
.links-list {
  display: flex;
  width: 280px;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
}

.links-list--color {
  background-color: #1d2631;
  width: 100%;
  min-height: 320px;
}

.links-list__app {
  text-decoration: none;
  color: #ffffff;
  display: block;
  border: 3px solid #ffffff;
  border-radius: 50px;
  padding: 14px 36px 17px 36px;
  margin-top: 28px;
}

.links-list__app:hover {
  background-color: #ffffff;
  color: #d22856;
}

.links-list__app:active {
  color: rgba(210, 40, 86, 0.3);
}

.links-list__item:nth-child(n+2) {
  margin-top: 40px;
  margin-bottom: 29px;
}

.links-list__item:nth-child(2) {
  margin-top: 32px;
  margin-bottom: 28px;
}

.links-list__logo {
  pointer-events: none;
}

.links-list__link {
  display: block;
}

.links-list__android {
  width: 47px;
  height: 56px;
}

.links-list__apple {
  width: 43px;
  height: 47px;
}

.links-list__windows {
  width: 44px;
  height: 41px;
}

.download-links__description {
  color: #ffffff;
  text-align: center;
  width: 350px;
  margin: 0 auto;
}

.download-links__intro-banner {
  display: none;
}

@media (min-width: 660px) {
  .links-list,
.download-links__description,
.download-links__intro-banner {
    margin: 0 auto 0 0;
  }

  .download-links__intro-banner {
    margin-left: -10px;
    padding-left: 80px;
    font-size: 40px;
    line-height: 1.2;
    font-weight: lighter;
    color: #ffffff;
    display: block;
    width: 280px;
    text-align: center;
  }

  .links-list--color {
    background-color: transparent;
  }

  .links-list__app {
    width: 250px;
  }
}
@media (min-width: 960px) {
  .download-links__intro-banner {
    width: 300px;
    font-size: 50px;
    font-weight: lighter;
    padding-left: 30px;
    margin-left: 120px;
  }

  .links-list__app {
    font-size: 21px;
    line-height: 0.8;
    width: 270px;
    margin-left: 50px;
  }

  .links-list--color {
    text-align: center;
  }

  .links-list {
    width: 350px;
    margin-left: 60px;
    margin-bottom: 30px;
  }

  .links-list__item:nth-child(2),
.links-list__item:nth-child(3),
.links-list__item:nth-child(4) {
    margin-left: 50px;
    margin-bottom: 0;
  }

  .download-links__description {
    width: 300px;
    margin-left: 120px;
  }
}
.download-links {
  position: relative;
  padding-top: 600px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat center, url("../img/bg-back-mobile.jpg") no-repeat top #283645;
  background-size: auto, contain;
}

@media (min-width: 660px) {
  .download-links-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
@media (min-width: 660px) and (max-width: 960px) {
  .download-links {
    padding-top: 120px;
    background: url("../img/iphone-hand-tablet@1x.png") no-repeat bottom, url("../img/bg-back-tablet.jpg") no-repeat center #283645;
    background-size: auto, cover;
  }

  .download-links-wrapper {
    width: 310px;
    margin-right: 60%;
    padding-bottom: 80px;
  }
}
@media (min-width: 960px) {
  .download-links {
    margin-top: -110px;
    padding-top: 170px;
    background: url("../img/iphone-hand-desktop@1x.png") no-repeat bottom, url("../img/bg-back-desktop.jpg") no-repeat center #283645;
    background-size: auto, cover;
  }

  .download-links-wrapper {
    padding-bottom: 140px;
    padding-left: 50px;
    max-width: 1240px;
  }
}
.info-container {
  font-size: 24px;
  width: 280px;
  text-align: center;
  color: #283645;
  background-color: #ffffff;
  padding: 30px 0;
  margin: 0 auto;
  min-height: 200px;
}

.research-wrapper {
  display: none;
}

@media (min-width: 660px) {
  .info-container {
    width: 600px;
    font-size: 40px;
    font-weight: lighter;
  }

  .research-container {
    background-color: #ffffff;
    width: 100%;
    background: url("../img/research-bgr.svg") no-repeat;
    background-position: 25% 60px;
    background-size: 238px 277px;
    padding: 90px 0;
  }

  .research-wrapper {
    display: block;
    width: 300px;
    margin-left: auto;
  }

  .app-features__reasearch-title {
    font-size: 30px;
    font-weight: lighter;
    line-height: 1.2;
    color: #000000;
  }

  .app-features__learn-more,
.app-features__reasearch {
    font-size: 14px;
    line-height: 1.7;
  }

  .app-features__reasearch {
    color: #283645;
  }

  .app-features__learn-more {
    color: #d22856;
  }
}
@media (min-width: 960px) {
  .info-container {
    min-height: 350px;
  }

  .info-list-wrapper {
    padding-top: 130px;
  }

  .research-wrapper {
    width: 510px;
    margin-right: 15%;
  }

  .app-features__reasearch-title {
    line-height: 1;
    font-weight: bold;
  }

  .app-features__reasearch,
.app-features__learn-more {
    font-size: 18px;
    line-height: 1.6;
  }

  .research-container {
    background-color: #f2f2f2;
    padding: 50px 0;
    background-position-y: 10px;
  }
}
.features-list__succinct {
  line-height: 1.3;
  font-weight: bold;
}

.features-list__info {
  font-size: 14px;
}

.features-list {
  padding-top: 40px;
  padding-left: 0;
  min-height: 510px;
  text-align: center;
}

.features-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}

.info-list-wrapper {
  width: 100%;
  background-color: #f2f2f2;
}

.features-list__item {
  width: 280px;
}

.features-list__item:nth-child(3) {
  position: relative;
}

.features-list__item:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30px;
  left: 0;
  padding-bottom: 250px;
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat;
  background-position: center 40px;
  background-size: contain;
}

@media (min-width: 660px) {
  .features-list {
    text-align: initial;
    justify-content: center;
    margin-left: 50%;
    min-height: 400px;
  }

  .features-list__item:nth-child(3)::after {
    background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat;
    top: -327px;
    left: -116%;
    background-size: 268px auto;
    padding-bottom: 450px;
  }
}
@media (min-width: 960px) {
  .features-list {
    flex-direction: row;
    width: 940px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }

  .features-list__item {
    position: relative;
    width: 240px;
  }

  .features-list__succinct {
    font-size: 30px;
    line-height: 1;
    color: #000000;
  }

  .features-list__info {
    color: #283645;
    font-size: 18px;
    line-height: 1.6;
  }

  .features-list__item:nth-child(1)::after,
.features-list__item:nth-child(2)::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -270px;
    left: 0;
    padding-bottom: 250px;
  }

  .features-list__item:nth-child(1)::after {
    background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat;
    background-size: contain;
  }

  .features-list__item:nth-child(2)::after {
    background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat;
    background-size: contain;
  }

  .features-list__item:nth-child(3)::after {
    top: -270px;
    left: 0;
    background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat;
    background-size: contain;
  }
}
.comments-list__comment {
  color: #283645;
  font-size: 14px;
  line-height: 2.1;
}

.comments-list__name {
  line-height: 1.6;
}

.comments-list {
  background-color: #ffffff;
  text-align: center;
  padding-left: 0;
}

.comments-list__item {
  width: 280px;
  margin: 0 auto;
}

.comments-section {
  position: relative;
}

.label-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 100%;
  left: 46%;
}

[class*=input-comment] {
  position: absolute;
  opacity: 0;
}

.label-wrapper {
  margin: 0 auto;
  width: 75px;
}

.comment__check {
  display: inline-block;
  margin: auto 0;
  padding: 3px;
  width: 10px;
  height: 10px;
  background-color: #bec2c7;
  border-radius: 50%;
  border: 3px solid #ffffff;
  cursor: pointer;
}

.input-comment1:checked ~ .label-wrapper label[for=comment1],
.input-comment2:checked ~ .label-wrapper label[for=comment2],
.input-comment3:checked ~ .label-wrapper label[for=comment3] {
  background-color: #f2f2f2;
  border: 3px solid #283645;
}

.input-comment1:checked ~ .comments-list li:nth-child(1),
.input-comment2:checked ~ .comments-list li:nth-child(2),
.input-comment3:checked ~ .comments-list li:nth-child(3) {
  display: block;
}

.comments-list__item,
.comments-list__occupation {
  display: none;
}

@media (min-width: 660px) {
  .comments-list__occupation {
    display: block;
  }

  .input-comment1:checked ~ .comments-list li:nth-child(1),
.input-comment2:checked ~ .comments-list li:nth-child(2),
.input-comment3:checked ~ .comments-list li:nth-child(3) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .comments-list__item,
.comments-list__comment {
    width: 620px;
  }

  .comments-list__name,
.comments-list__occupation {
    width: 180px;
  }

  .label-wrapper {
    left: 48%;
  }
}
@media (min-width: 960px) {
  .label-wrapper {
    display: none;
    top: -120%;
    left: 18%;
  }

  .comment__check {
    position: absolute;
    border: none;
    top: 220px;
    width: 25px;
    height: 45px;
    border-radius: 0;
    background-color: transparent;
    opacity: 0.3;
    background-repeat: no-repeat;
  }

  .input-comment1:checked ~ .comments-list li:nth-child(1)::before,
.input-comment2:checked ~ .comments-list li:nth-child(2)::before,
.input-comment3:checked ~ .comments-list li:nth-child(3)::before {
    position: absolute;
    content: "";
    width: 22px;
    height: 41px;
    background-image: url("../img/icon-review-arrow-left.svg");
    background-repeat: no-repeat;
    top: 0;
    left: 18%;
    background-size: 22px 41px;
  }

  .input-comment1:checked ~ .comments-list li:nth-child(1)::after,
.input-comment2:checked ~ .comments-list li:nth-child(2)::after,
.input-comment3:checked ~ .comments-list li:nth-child(3)::after {
    position: absolute;
    content: "";
    width: 22px;
    height: 41px;
    background-image: url("../img/icon-review-arrow-right.svg");
    background-repeat: no-repeat;
    top: 0;
    left: 78%;
    background-size: 22px 41px;
  }

  .comments-list {
    margin-top: 200px;
  }

  .comments-list::before {
    content: "";
    width: 82px;
    height: 65px;
    left: 47%;
    top: -65%;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.1;
  }
}
.offers-section {
  background-color: #f2f2f2;
}

.offers-table {
  text-align: center;
  width: 995px;
  height: 280px;
  margin: 0 auto;
}

.offers-table__head {
  color: #ffffff;
}

.offers-table__tariff-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
}

.offers-table__tariff-cost {
  font-weight: lighter;
  line-height: 1.6;
}

.offers-table__header-cell {
  background-color: #283645;
}

.offers-table__data-cell {
  background-color: #ffffff;
  width: 153px;
  height: 45px;
}

.offers-table__data-cell {
  text-transform: uppercase;
  height: 56px;
  width: 276px;
}

.offers-table__header-cell:nth-child(3) {
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
  position: relative;
}

.offers-table__header-cell:nth-child(3)::before {
  content: "хит";
  position: absolute;
  width: 0;
  height: 0;
  top: 30px;
  left: 0;
  font-size: 14px;
  line-height: 2.1;
  font-weight: lighter;
  transform: rotate(-45deg);
  text-transform: uppercase;
}

.offers-table__item-ok {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: 210px center;
  background-size: 31px 21px;
}

.offers-table__item-no {
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-position: 210px center;
  background-size: 27px 26px;
}

.offers-section {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
}

.offers-label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75px;
  height: 30px;
  margin: 0 auto;
  position: absolute;
  top: 94%;
  left: 46%;
}

[class*=input-offer] {
  display: none;
}

.offer__check {
  display: block;
  width: 4px;
  height: 4px;
  padding: 3px;
  background-color: #bec2c7;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.input-offer1:checked ~ .offers-label-wrapper label[for=offer1],
.input-offer2:checked ~ .offers-label-wrapper label[for=offer2],
.input-offer3:checked ~ .offers-label-wrapper label[for=offer3] {
  background-color: #f2f2f2;
  border: 3px solid #283645;
}

.input-offer1:checked ~ .offers-table {
  transform: translateX(-135px);
  transition: 0.9s;
}

.input-offer2:checked ~ .offers-table {
  transform: translateX(-415px);
  transition: 0.9s;
}

.input-offer3:checked ~ .offers-table {
  transform: translateX(-695px);
  transition: 0.9s;
}

@media (min-width: 660px) {
  .offers-table {
    width: 620px;
  }

  .offers-label-wrapper {
    display: none;
  }

  .offers-table__item-mobile {
    font-size: 0;
  }

  .offers-table__item-ok,
.offers-table__item-no {
    background-position-x: center;
  }

  .offers-table__header-cell,
.offers-table__data-cell {
    width: 154px;
    height: 75px;
  }

  .input-offer1:checked ~ .offers-table,
.input-offer2:checked ~ .offers-table,
.input-offer3:checked ~ .offers-table {
    transform: none;
  }

  .offers-table__header-cell:nth-child(3) {
    background-position-y: -10px;
  }

  .offers-table__header-cell:nth-child(3)::before {
    top: 20px;
    left: -5px;
  }

  .offers-table__header-cell {
    text-transform: uppercase;
  }

  .offers-table__data-cell {
    text-transform: initial;
  }

  .offers-table__header-cell:nth-child(3) {
    background-image: url("../img/bg-hit-tablet.svg");
    background-repeat: no-repeat;
    position: relative;
  }
}
@media (min-width: 960px) {
  .offers-table__header-cell,
.offers-table__data-cell {
    width: 234px;
    height: 94px;
  }

  .offers-table {
    width: 940px;
  }
}
.contacts-wrapper {
  text-align: center;
  width: 240px;
  margin: 0 auto;
}

.contact-list {
  padding: 0;
  background-color: #ffffff;
}

.contact-list__action,
.main-footer__contact-us {
  color: #283645;
}

.main-footer__contact-us,
.contact-list__address-info {
  font-size: 24px;
}

.contact-list__action {
  font-weight: bold;
}

.contact-list__address-info {
  color: #d22856;
}

@media (min-width: 660px) {
  .social-links {
    display: block;
  }

  .contacts-wrapper {
    width: 100%;
  }

  .contact-list {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    margin: 0 auto;
  }

  .contact-list__item {
    flex-grow: 1;
    width: 260px;
  }

  .main-footer__contact-us {
    margin: 0 auto;
    width: 780px;
    padding: 50px 130px;
    font-size: 40px;
  }

  .map {
    width: 100%;
    height: 380px;
  }
}
@media (min-width: 960px) {
  .contact-list {
    width: 940px;
  }

  .main-footer__contact-us {
    font-size: 50px;
  }
}
.header-wrapper-logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1px;
}

.main-header__link {
  color: #ffffff;
}

.main-header__link {
  text-decoration: none;
}

.main-header__link:hover {
  color: #d22856;
}

.main-header__link:active {
  color: rgba(210, 40, 86, 0.3);
}

@media (min-width: 960px) {
  .header__toggle {
    display: none;
  }

  .header-wrapper-menu {
    display: flex;
    width: 940px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .header-wrapper-bg-color {
    width: 100%;
    background-color: rgba(27, 36, 47, 0.3);
    background-blend-mode: lighten;
  }

  .header-wrapper-logo {
    width: 150px;
  }

  .main-header {
    width: 100%;
    background-color: rgba(27, 36, 47, 0.3);
  }
}
.links-forms {
  display: block;
}

.social-links {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}

.social-links__list {
  display: flex;
  flex-direction: row;
  width: 180px;
  justify-content: space-between;
}

.social-links--index {
  display: none;
}

.media-list__item {
  border: 3px solid #fae9ee;
  border-radius: 50%;
}

.media-list__item:nth-child(1) {
  padding: 19px 13px 13px 14px;
}

.media-list__item:nth-child(2) {
  padding: 16px 18px 9px 18px;
}

.media-list__item:nth-child(3) {
  padding: 17px 13px 17px 17px;
}

@media (min-width: 660px) {
  .social-links__logo-footer {
    width: 147px;
    height: 40px;
  }

  .social-links {
    padding-top: 30px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 620px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }

  .social-links__trademark {
    font-size: 14px;
    color: #283645;
  }
}
@media (min-width: 960px) {
  .social-links {
    width: 940px;
  }

  .social-links__trademark {
    font-size: 18px;
    line-height: 1;
  }
}
.forms {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.forms__name {
  text-align: left;
}

.forms-section__invitation {
  width: 280px;
  font-size: 14px;
  color: #283645;
  line-height: 2.1;
  margin: 50px auto;
  text-align: center;
}

@media (min-width: 660px) {
  .forms-section__invitation {
    font-size: 18px;
    width: 500px;
    margin-top: 80px;
    margin-bottom: 40px;
  }
}
@media (min-width: 960px) {
  .forms-section__invitation {
    width: 690px;
  }
}
.forms__label {
  font-size: 14px;
  color: #d22856;
  text-transform: uppercase;
}

.forms__title {
  text-align: center;
  width: 190px;
  padding-top: 30px;
  margin-bottom: 30px;
  color: #d22856;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

.forms__title--checkbox {
  margin-bottom: 55px;
  margin-top: 50px;
}

@media (min-width: 660px) {
  .forms__title {
    padding-top: 0;
    line-height: 2.1;
    width: 330px;
    margin-bottom: 15px;
  }

  .forms__title--checkbox {
    width: 390px;
  }
}
.forms-section__invitation--tablet {
  display: none;
}

@media (min-width: 660px) {
  .forms-section__invitation--tablet {
    display: inline-block;
  }
}
.forms__container {
  border: none;
}

.forms__name-wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}

.forms__input {
  margin-top: 16px;
  margin-bottom: 33px;
  padding-left: 20px;
  width: 276px;
  height: 59px;
}

.forms__text,
.forms__input {
  font-size: 18px;
  color: #283645;
}

.forms__input {
  border: 2px solid #e5e5e5;
}

.forms__input:hover {
  border-color: #283645;
}

.forms__input:active {
  border-color: #d22856;
}

@media (min-width: 660px) {
  .forms__name-wrapper {
    width: 620px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .forms__input--name {
    flex-grow: 1;
    min-width: 477px;
  }

  .forms__name--label {
    padding: 0;
    margin: 40px 20px 0 0;
  }

  .forms__name {
    order: -2;
  }
}
@media (min-width: 960px) {
  .forms {
    flex-wrap: wrap;
    flex-direction: row;
    width: 940px;
  }

  .forms__name-wrapper {
    width: 470px;
    margin: 0;
  }

  .forms__input--name {
    min-width: 337px;
  }
}
.apps-list__radio,
.list-checkbox__checkbox {
  display: none;
}

.forms__app-wrapper {
  width: 100%;
  background-color: #f2f2f2;
}

.apps-list {
  margin: 0;
  padding: 0;
  padding-left: 30%;
}

.apps-list__item {
  margin-bottom: 60px;
}

.apps-list__label {
  position: relative;
  display: inline-block;
  width: 150px;
  font-size: 18px;
  line-height: 1.6;
  color: #283645;
}

.apps-list__label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 1px;
  left: -38px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

.apps-list__radio:checked ~ .apps-list__label::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  display: block;
  top: 8px;
  left: -31px;
  background-color: #d22856;
  border-radius: 50%;
}

.apps-list__radio:hover {
  border-color: #283645;
}

@media (min-width: 660px) {
  .forms__app-wrapper {
    background-color: #ffffff;
    order: -1;
  }

  .apps-list {
    padding-left: 16%;
  }

  .forms__app {
    margin: 0 auto;
    width: 616px;
    height: 315px;
    border: 2px solid #e5e5e5;
  }
}
@media (min-width: 960px) {
  .forms__app {
    width: 414px;
    height: 297px;
  }

  .forms__app-wrapper {
    background-color: #ffffff;
    width: 400px;
    height: 300px;
  }

  .apps-list {
    padding-left: 26%;
  }
}
.list-checkbox {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}

.list-checkbox__item {
  margin-bottom: 60px;
}

.forms__adventures--wrapper {
  width: 100%;
  background-color: #f2f2f2;
}

.list-checkbox__label {
  position: relative;
}

.list-checkbox__label::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -10px;
  left: -60px;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.list-checkbox__checkbox:checked ~ .list-checkbox__label::before {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: 5px 7px;
}

@media (min-width: 660px) {
  .list-checkbox {
    padding-top: 30px;
  }

  .forms__adventures--wrapper {
    background-color: #ffffff;
    order: 1;
  }

  .forms__adventures {
    border: 2px solid #e5e5e5;
    width: 616px;
    height: 549px;
    margin: 0 auto;
  }
}
@media (min-width: 960px) {
  .list-checkbox {
    flex-direction: row;
    flex-wrap: wrap;
    width: 820px;
  }

  .list-checkbox__item {
    width: 260px;
  }

  .forms__adventures {
    width: 936px;
    height: 260px;
  }
}
.forms__title--contact {
  display: none;
}

.forms__contacts--wrapper {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}

@media (min-width: 660px) {
  .forms__title--contact {
    display: block;
  }

  .forms__contacts {
    padding-top: 30px;
    border: 2px solid #e5e5e5;
    width: 616px;
    height: 336px;
    margin: 0 auto;
    margin-top: 30px;
    order: 0;
  }

  .forms__contacts--wrapper {
    width: 500px;
    padding-top: 0;
  }

  .forms__input--contact {
    width: 440px;
    margin-bottom: 20px;
  }

  .forms__contacts--label {
    margin-left: 10px;
  }

  .forms__input--contact:nth-of-type(1) {
    order: 0;
  }

  .forms__contacts--label:nth-of-type(1) {
    order: 1;
  }

  .forms__input--contact:nth-of-type(2) {
    order: 2;
  }

  .forms__contacts--label:nth-of-type(2) {
    order: 3;
  }

  .forms__contacts--wrapper {
    position: relative;
  }

  .forms__contacts--wrapper::after {
    content: "";
    width: 60px;
    height: 59px;
    position: absolute;
    top: 16px;
    left: 440px;
    display: block;
    background-color: #e5e5e5;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
  }

  .forms__contacts--wrapper::before {
    content: "";
    width: 60px;
    height: 59px;
    position: absolute;
    top: 125px;
    left: 440px;
    display: block;
    background-color: #e5e5e5;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
  }
}
@media (min-width: 960px) {
  .forms__contacts--wrapper {
    width: 820px;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .forms__contacts {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 50px;
    width: 919px;
    height: 196px;
  }

  .forms__input--contact {
    width: 314px;
  }

  .forms__input--contact:nth-of-type(1) {
    order: 0;
  }

  .forms__contacts--label:nth-of-type(1) {
    order: 2;
  }

  .forms__input--contact:nth-of-type(2) {
    order: 1;
    margin-left: 130px;
  }

  .forms__contacts--label:nth-of-type(2) {
    order: 3;
    margin-left: 320px;
  }

  .forms__contacts--wrapper::after {
    top: 16px;
    left: 314px;
  }

  .forms__contacts--wrapper::before {
    top: 16px;
    left: 758px;
  }
}
.forms__text {
  width: 276px;
  height: 197px;
  padding-left: 10px;
  padding-right: 10px;
  resize: none;
}

.forms__emotions {
  margin: 0 auto;
}

@media (min-width: 660px) {
  .forms__emotions {
    order: 2;
  }

  .forms__text {
    width: 496px;
    height: 189px;
    margin-left: 40px;
  }

  .forms__emotions {
    padding-top: 30px;
    border: 2px solid #e5e5e5;
    width: 616px;
    height: 289px;
    margin-top: 30px;
  }
}
@media (min-width: 960px) {
  .forms__text {
    width: 816px;
    height: 124px;
  }

  .forms__emotions {
    padding-top: 15px;
    width: 936px;
    height: 213px;
  }
}
.forms__send {
  order: 3;
  margin: 0 auto;
  margin-top: 50px;
}

.forms__submit--button {
  width: 276px;
  height: 59px;
  background-color: #2aab6d;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.6;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
}

.forms__important--fields {
  width: 180px;
  font-size: 14px;
  line-height: 2.1;
  color: #283645;
  text-transform: uppercase;
}

.forms__important--star {
  color: #d22856;
}

.forms__important-fields--desktop {
  display: none;
}

@media (min-width: 660px) {
  .forms__send {
    margin-top: 70px;
  }

  .forms__send--wrapper {
    width: 620px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .forms__submit--button {
    width: 300px;
  }

  .forms__important--fields {
    width: 190px;
  }
}
@media (min-width: 960px) {
  .forms__send {
    padding-left: 0;
    margin-top: 55px;
  }

  .forms__send--wrapper {
    width: 940px;
  }

  .forms__important--fields {
    width: 320px;
  }

  .forms__important-fields--desktop {
    display: inline;
  }
}
.award {
  background-color: #283645;
  background-image: url("../img/bg-back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.award__title {
  font-size: 24px;
  width: 280px;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 36px;
  text-align: center;
  font-weight: lighter;
}

@media (min-width: 660px) {
  .award {
    background-image: url("../img/bg-back-tablet.jpg");
    background-position-y: -61px;
  }

  .award__title {
    width: 620px;
    font-size: 50px;
    padding: 86px 30px;
  }
}
@media (min-width: 960px) {
  .award {
    background-image: url("../img/bg-back-desktop.jpg");
    background-size: auto;
    background-position: top;
    padding-top: 120px;
    margin-top: -110px;
  }

  .award__title {
    width: 780px;
  }
}
.page-title {
  padding: 40px 70px 90px;
  background-color: #2a3948;
  background-image: url("../img/bg-back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.page-title__text {
  font-size: 24px;
  font-weight: lighter;
  line-height: 1.4;
  width: 270px;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 660px) {
  .page-title__text {
    font-size: 50px;
    width: 310px;
  }

  .page-title {
    padding-top: 100px;
    background-image: url("../img/bg-back-tablet.jpg");
  }
}
@media (min-width: 960px) {
  .page-title {
    background-image: url("../img/bg-back-desktop.jpg");
    margin-top: -110px;
    padding-top: 190px;
  }
}
.photo-section__text {
  font-size: 14px;
  color: #283645;
  width: 210px;
  line-height: 1.6;
  margin: 55px auto;
  text-align: center;
}

@media (min-width: 660px) {
  .photo-section__text {
    width: 500px;
    line-height: 1.4;
    font-size: 18px;
  }
}

/*# sourceMappingURL=main.css.map */
