@import "../variables";

//radio buttons for chosing app
.apps-list__radio {
  display: none;
}
.apps-list {
  margin: 0;
  padding: 0;
  padding-left: 30%;
}

.apps-list__item {
  margin-bottom: 60px;
}
.apps-list__label {
  position: relative;
  display: inline-block;
  width: 150px;
  font-size: 18px;
  line-height: 1.6;
  color: $dark-color;
}
//change check buttons
.apps-list__label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 1px;
  left: -38px;
  border: 2px solid $border-color;
  border-radius: 50%;
  background-color: $white-color;
  padding: 0;
  margin: 0;
}
//different states of radio buttons
.apps-list__label:hover::before {
  border-color: $dark-color;
}

.apps-list__label:active::before {
  border-color: $pink-color;
}
.apps-list__radio:checked ~ .apps-list__label::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  display: block;
  top: 8px;
  left: -31px;
  background-color: $pink-color;
  border-radius: 50%;
}
.apps-list__radio:hover {
  border-color: $dark-color;
}

@media (min-width: $tablet-width) {
  .apps-list {
    padding-left: 16%;
  }
}
@media (min-width: $desktop-width) {
  .apps-list {
    padding-left: 26%;
  }
}