@import "../variables";

.comments-list__comment {
  color: $dark-color;

  font-size: 14px;
  line-height: 2.1;
}
.comments-list__name {
  line-height: 1.6;
}
.comments-list {
  background-color: $white-color;
  text-align: center;
  padding-left: 0;
}
.comments-list__item {
  width: $mobile-block;
  margin: 0 auto;
}