@import "../variables";

//bg-image
.download-links {
  position: relative;
  padding-top: 600px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat center,
  url("../img/bg-back-mobile.jpg") no-repeat top $dark-color;
  background-size: auto, contain;
}
@media (min-width: $tablet-width) {
  .download-links {
    padding-top: 120px;
    background: url("../img/iphone-hand-tablet@1x.png") no-repeat bottom, url("../img/bg-back-tablet.jpg") no-repeat center $dark-color;
    background-size: auto, cover;
  }
  .download-links-wrapper {
    padding-left: 50px;
    padding-bottom: 40px;
  }
}
@media (min-width: $desktop-width) {
 .download-links {
  padding-top: 170px;
  background: url("../img/iphone-hand-desktop@1x.png") no-repeat bottom, url("../img/bg-back-desktop.jpg") no-repeat center $dark-color;
  background-size: auto, cover;
 } 
 .download-links-wrapper {
   padding-bottom: 140px;
 }
}