@import "../variables";

//bg-image
.download-links {
  padding-top: 540px;
}
.download-links {
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat center,
  url("../img/bg-back-mobile.jpg") no-repeat top $dark-color;
  background-size: auto, contain;
}
