@import "../variables";

.editor {
  width: 100%;
  background-color: $bg-color;
  padding-top: 20px;
}
//photo in editor
.editor__photo {
  display: block;
  width: $mobile-block;
  height: 374px;
  margin: 0 auto;
}
//forms
.photo-editor--wrapper {
  border: none;
}
.photo-editor__range {
  display: none;
}
//display range only if button pressed
.photo-editor__radio--size:checked ~ .photo-editor__range--size,
.photo-editor__radio--color:checked ~ .photo-editor__range--color,
.photo-editor__radio--bright:checked ~ .photo-editor__range--bright {
  display: block;
  position: absolute;
  top: 120px;
  left: 12px;
}

.photo-editor {
  display: flex;
  width: 250px;
  margin: 0 auto 40px;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}
.photo-editor--wrapper {
  margin-top: 10px;
}
.buttons-wrapper {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

//images instead of buttons
.photo-editor__radio {
  display: none;
}
.photo-editor__label {
  display: inline-block;
  opacity: 0.9;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: contain;
}
.photo-editor__label--bright {
  width: 32px;
  height: 38px;
  background-image: url("../img/icon-editor-contrast.svg");
  background-position: 0 center;
}
.photo-editor__label--color {
  width: 48px;
  height: 43px;
  background-image: url("../img/icon-editor-fill.svg");
}
.photo-editor__label--size {
  width: 44px;
  height: 44px;
  background-image: url("../img/icon-editor-crop.svg");
  background-position: center;
}
@media (min-width: $tablet-width) {
  .photo-editor__label--size {
    width: 22px;
    height: 22px;
  }
  .photo-editor__label--color {
    width: 24px;
    height: 22px;
  }
  .photo-editor__label--bright {
    width: 16px;
    height: 16px;
  }
}
@media (min-width: $desktop-width) {
  .photo-editor__label--size {
    width: 44px;
    height: 44px;
  }
  .photo-editor__label--color {
    width: 48px;
    height: 43px;
  }
  .photo-editor__label--bright {
    width: 32px;
    height: 38px;
  }
}
//slider
.photo-editor__range {
  -webkit-appearance: none;
  width: 90%;
  height: 2px;
  outline: none;
  background-color: $dark-color;
}
.photo-editor__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: $white-color;
  border-radius: 50%;
  border: 2px solid $pink-color;
  cursor: pointer;
}

.photo-editor__range::-moz-range-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: $white-color;
  border-radius: 50%;
  border: 2px solid $pink-color;
  cursor: pointer;
}
@media (min-width: $tablet-width) {
  .photo-editor {
    margin: initial;
    width: 310px;
  }
  .editor-wrapper {
    padding-top: 20px;
    min-height: 455px;
    display: flex;
    width: 640px;
    margin: 0 auto;
    justify-content: space-between;
  }
  .photo-editor--wrapper {
    padding: 0;
  }
  .photo-editor__range {
    display: inline-block;
    position: initial;
    width: 240px;
  }
  .editor__photo {
    margin-right: auto;
    margin-left: 2%;
  }
  .photo-editor__radio--size:checked ~ .photo-editor__range--size,
  .photo-editor__radio--color:checked ~ .photo-editor__range--color,
  .photo-editor__radio--bright:checked ~ .photo-editor__range--bright {
    display: inline-block;
    position: initial;
    top: initial;
    left: initial;
  }
  .control-wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 280px;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    position: relative;
  }
  .control-wrapper::after {
    content: "";
    position: absolute;
    top: 53px;
    left: 1px;
    border-bottom: 2px solid $dark-color;
    opacity: 0.1;
    width: 100%;
    height: 2px;
  }
  //photo
  .editor__photo {
    max-width: 300px;
    height: 400px;
  }
}
@media (min-width: $desktop-width) {
  .editor {
    padding-top: 0;
    background-color: $white-color;
  }
  .editor-wrapper {
    background-color: $bg-color;
    width: 940px;
    min-height: 465px;
    padding-top: 35px;
    justify-content: space-evenly;
  }
  .control-wrapper::after {
    width: 100%;
  }
  .photo-editor {
    width: 300px;
  }
  .photo-editor__range {
    width: 280px;
  }
  .control-wrapper {
    width: 350px;
  }
}

//buttons to post pics
.photo-editor__button {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  border: 3px solid $pink-color;
  border-radius: 50px;
  color: $pink-color;
  width: 280px;
  height: 55px;
  margin-bottom: 12px;
  text-transform: capitalize;
}
.photo-editor__button:hover {
  color: $white-color;
  background-color: $pink-color;
}
.photo-editor__button:active {
  color: rgba(255, 255, 255, 0.3);
}
.photo-editor__button--cancel {
  border-color: rgba(40, 54, 69, 0.1);
  color: rgba(40, 54, 69, 0.1);
}
.photo-editor__button--cancel:hover {
  background-color: $white-color;
  border-color: $dark-color;
  color: $dark-color;
  opacity: 0.3;
}
.photo-editor__button--cancel:active {
  border-color: $dark-color;
  color: rgba(255, 255, 255, 0.3);
  background-color: $dark-color;
  opacity: 0.3;
}
@media (min-width: $tablet-width) {
  
}
@media (min-width: $desktop-width) {
  .photo-editor__button {
    width: 183px;
  }
  .buttons-wrapper {
    flex-direction: row;
    width: 410px;
    justify-content: space-around;
  }
}