@import '../variables';

.features-list__succinct {
  line-height: 1.3;
  font-weight: bold;
}
.features-list__info {
  font-size: 14px;
}
.features-list {
  padding-top: 40px;
  padding-left: 0;
  
  min-height: 510px;
  text-align: center;
}
.features-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: $mobile-block;
  
  margin: 0 auto;
}
.info-list-wrapper {
  min-height: 600px;
  width: 100%;
  background-color: $bg-color;
}
.features-list__item {
  width: $mobile-block;
}
//bg image after last list element
.features-list__item:nth-child(3) {
  position: relative;
}
.features-list__item:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 157px;
  height: 280px;
  top: 92px;
  left: 60px;
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat;
}

@media (min-width: $tablet-width) {
  .info-list-wrapper {
    min-height: 0;
  }
  .features-list {
    text-align: initial;
    justify-content: center;
    margin-left: 50%;
    min-height: 400px;
  }
  .features-list__item:nth-child(3)::after {
    background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat;
    width: 276px;
    height: 421px;
    top: -318px;
    left: -116%;
    background-size: 268px auto;
    padding-bottom: 450px;
    // background-position: left center;
  }
}
@media (min-width: $desktop-width) {
  //display list items in row
  .features-list {
    flex-direction: row;
    width: 940px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }
  .features-list__item {
    position: relative;
    width: 240px;
  }
  //fonts
  .features-list__succinct {
    font-size: 30px;
    line-height: 1;
    color: #000000;
  }
  .features-list__info {
    color: $dark-color;
    font-size: 18px;
    line-height: 1.6;
  }
  //bg images at top of each item
  .features-list__item:nth-child(1)::after,
  .features-list__item:nth-child(2)::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -270px;
    left: 0;
    padding-bottom: 250px;
  }
  .features-list__item:nth-child(3)::after {
    width: 100%;
    height: 100%;
  }
  .features-list__item:nth-child(1)::after {
    background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat;
    background-size: contain;
  }
  .features-list__item:nth-child(2)::after {
    background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat;
    background-size: contain;
  }
  .features-list__item:nth-child(3)::after {
    top: -270px;
    left: 0;
    background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat;
    background-size: contain;
  }
}