@import '../variables';

.forms {
  display: flex;
  flex-direction: column;
  width: $mobile-block;
  margin: 0 auto;
}

.forms__name {
  text-align: left;
}
.forms-section__invitation {
  width: $mobile-block;
  font-size: 14px;
  color: $dark-color;
  line-height: 2.1;
  margin: 0 auto;
}
//text that doesn't appear on mobile
.forms-section__invitation--tablet {
  display: none;  
}
@media (min-width: $tablet-width) {
  .forms-section__invitation--tablet {
    display: inline-block;
  }
}

//labels above input info
.forms__name-label {
  color: $pink-color;
  text-transform: uppercase
}

//hide border around fields
.forms__container {
  border: none;
}

.forms__name-wrapper {
  display: flex;
  flex-direction: column;
  width: $mobile-block;
  margin: 0 auto;
}
.forms__input-name {
  margin-top: 16px;
  margin-bottom: 33px;
  padding-left: 20px;
  width: 276px;
  height: 59px;
}
//borders around input info
.forms__input-name {
  border: 2px solid #e5e5e5;
}
.forms__input-name:hover {
  border-color: $dark-color;
}
.forms__input-name:active {
  border-color: $pink-color;
}

@media (min-width: $tablet-width) {
  .forms {
    width: 620px;
  }
  .forms__name-wrapper {
    width: 620px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .forms__input-name {
    flex-grow: 1;
    min-width: 477px;
  }
  .forms__name-label {
    padding: 0;
    margin: 40px 20px 0 0;
  }
}