@import "../variables";

.forms {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.forms__name {
  text-align: left;
}
//text before form
.forms-section__invitation {
  width: $mobile-block;
  font-size: 14px;
  color: $dark-color;
  line-height: 2.1;
  margin: 50px auto;
  text-align: center;
}
@media (min-width: $tablet-width) {
  .forms-section__invitation {
    font-size: 18px;
    width: 500px;
    margin-top: 80px;
    margin-bottom: 40px;
  }
}
@media (min-width: $desktop-width) {
  .forms-section__invitation {
    width: 690px;
  }
}
//labels above input
.forms__label {
  font-size: 14px;
  color: $pink-color;
  text-transform: uppercase;
}

//text above buttons
// .forms__title--app,
// .forms__title--checkbox {
.forms__title {
  // padding-top: 30px;
  text-align: center;
  width: 190px;
  padding-top: 30px;
  margin-bottom: 30px;
  color: $pink-color;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  //for firefox
  margin-left: auto;
  margin-right: auto;
}
.forms__title--checkbox {
  margin-bottom: 55px;
  margin-top: 50px;
}
@media (min-width: $tablet-width) {
  .forms__title {
    padding-top: 0;
    line-height: 2.1;
    width: 330px;
    margin-bottom: 15px;
  }
  .forms__title--checkbox {
    width: 390px;
  }
}
@media (min-width: $desktop-width) {
}

//text that doesn't appear on mobile
.forms-section__invitation--tablet {
  display: none;
}
@media (min-width: $tablet-width) {
  .forms-section__invitation--tablet {
    display: inline-block;
  }
}

//hide border around fields
.forms__container {
  border: none;
}

.forms__name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline; 
  width: $mobile-block;
  margin: 0 auto;
}
.forms__input {
  margin-top: 16px;
  margin-bottom: 33px;
  padding-left: 20px;
  width: 276px;
  height: 59px;
}
.forms__text,
.forms__input {
  font-size: 18px;
  color: $dark-color;
}
//borders around input info
.forms__input {
  outline: none;
  border: 2px solid $border-color;
}
.forms__input:hover {
  border-color: $dark-color;
}
.forms__input:active {
  border-color: $pink-color;
}

@media (min-width: $tablet-width) {
  .forms__name-wrapper {
    width: 620px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .forms__input--name {
    flex-grow: 1;
    min-width: 494px;
  }
  .forms__name--label {
    padding: 0;
    margin: 40px 20px 0 0;
  }
  .forms__name {
    order: -2;
  }
}
@media (min-width: $desktop-width) {
  .forms {
    flex-wrap: wrap;
    flex-direction: row;
    width: 940px;
  }
  .forms__name-wrapper {
    width: 470px;
    margin: 0;
  }

  .forms__input--name {
    min-width: 344px;
  }
}

//radio buttons for app

//bg color on mobile
.forms__app-wrapper {
  width: 100%;
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .forms__app-wrapper {
    background-color: $white-color;
    order: -1;
  }
  .forms__app {
    margin: 0 auto;
    width: 616px;
    height: 315px;
    border: 2px solid $border-color;
  }
}
@media (min-width: $desktop-width) {
  .forms__app {
    width: 414px;
    height: 297px;
  }
  .forms__app-wrapper {
    background-color: $white-color;
    width: 400px; //radios for app
    height: 300px;
    // order: -1;
  }
}

//checkbox
@media (min-width: $tablet-width) {
  .forms__adventures--wrapper {
    background-color: $white-color;
    order: 1;
  }
  .forms__adventures {
    border: 2px solid $border-color;
    width: 616px;
    height: 549px;
    margin: 0 auto;
  }
}
@media (min-width: $desktop-width) {
  .forms__adventures {
    width: 936px;
    height: 260px;
  }
}

//contact info
.forms__title--contact {
  display: none;
}
.forms__contacts--wrapper {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  width: $mobile-block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .forms__title--contact {
    display: block;
  }
  .forms__contacts {
    padding-top: 30px;
    border: 2px solid $border-color;
    width: 616px;
    height: 336px;
    margin: 0 auto;
    margin-top: 30px;
    order: 0;
  }
  .forms__contacts--wrapper {
    width: 500px;
    padding-top: 0;
  }
  .forms__input--contact {
    width: 440px;
    margin-bottom: 20px;
  }
  .forms__contacts--label {
    margin-left: 10px;
  }
  //change order of apperance
  .forms__input--contact:nth-of-type(1) {
    order: 0;
  }
  .forms__contacts--label:nth-of-type(1) {
    order: 1;
  }
  .forms__input--contact:nth-of-type(2) {
    order: 2;
  }
  .forms__contacts--label:nth-of-type(2) {
    order: 3;
  }
  //add icons on the right of inputs
  .forms__contacts--wrapper {
    position: relative;
  }
  .forms__contacts--wrapper::after {
    content: "";
    width: 60px;
    height: 59px;
    position: absolute;
    top: 16px;
    left: 440px;
    display: block;
    background-color: $border-color;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
  }
  .forms__contacts--wrapper::before {
    content: "";
    width: 60px;
    height: 59px;
    position: absolute;
    top: 125px;
    left: 440px;
    display: block;
    background-color: $border-color;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
  }
}
@media (min-width: $desktop-width) {
  .forms__contacts--wrapper {
    width: 820px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .forms__contacts {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 50px;
    width: 919px;
    height: 196px;
  }
  .forms__input--contact {
    width: 314px;
  }
  .forms__input--contact:nth-of-type(1) {
    order: 0;
  }
  .forms__contacts--label:nth-of-type(1) {
    order: 2;
  }
  .forms__input--contact:nth-of-type(2) {
    order: 1;
    margin-left: 130px;
  }
  .forms__contacts--label:nth-of-type(2) {
    order: 3;
    margin-left: 320px;
  }
  .forms__contacts--wrapper::after {
    top: 16px;
    left: 314px;
  }
  .forms__contacts--wrapper::before {
    top: 16px;
    left: 758px;
  }
}

//text field
.forms__text {
  width: 276px;
  height: 197px;
  padding-left: 10px;
  padding-right: 10px;
  resize: none;
}
.forms__emotions {
  margin: 0 auto;
}
@media (min-width: $tablet-width) {
  .forms__emotions {
    order: 2;
  }
  .forms__text {
    width: 496px;
    height: 189px;
    margin-left: 40px;
  }
  .forms__emotions {
    padding-top: 30px;
    border: 2px solid $border-color;
    width: 616px;
    height: 289px;
    margin-top: 30px;
  }
}
@media (min-width: $desktop-width) {
  .forms__text {
    width: 816px;
    height: 124px;
  }
  .forms__emotions {
    padding-top: 15px;
    width: 936px;
    height: 213px;
  }
}

//button to send form data

.forms__send {
  order: 3;
  margin: 0 auto;
  margin-top: 50px;
}
.forms__submit--button {
  width: 276px;
  height: 59px;
  background-color: #2aab6d;
  color: $white-color;
  font-family: "Open Sans", arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
}
//different states of the button
.forms__submit--button:hover {
  background-color: #1c9b5e;
}
.forms__submit--button:active {
  background-color: #1c9b5e;
  color: rgba(255, 255, 255, 0.3);
}
.forms__submit--button:disabled {
  background-color: $border-color;
}
.forms__important--fields {
  width: 180px;
  font-size: 14px;
  line-height: 2.1;
  color: $dark-color;
  text-transform: uppercase;
}
.forms__important--star {
  color: $pink-color;
}
.forms__important-fields--desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .forms__send {
    margin-top: 70px;
  }
  .forms__send--wrapper {
    width: 620px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .forms__submit--button {
    width: 300px;
  }
  .forms__important--fields {
    width: 190px;
  }
}
@media (min-width: $desktop-width) {
  .forms__send {
    padding-left: 0;
    margin-top: 55px;
  }
  .forms__send--wrapper {
    width: 940px;
  }
  .forms__important--fields {
    width: 320px;
  }
  .forms__important-fields--desktop {
    display: inline;
  }
}