@import '../variables';

.forms__name {
  text-align: left;
}
.forms-section__invitation {
  width: $mobile-block;
  font-size: 14px;
  color: $dark-color;
  line-height: 2.1;
  margin: 0 auto;
}

.forms-section__invitation--tablet {
  display: none;  
}

//labels above input info
.forms__name-label {
  color: $pink-color;
  text-transform: uppercase
}

//hide border around fields
.forms__container {
  border: none;
}

.forms__name {
  display: flex;
  width: $mobile-block;
  margin: 0 auto;
}
.forms__input-name {
  margin-top: 16px;
  margin-bottom: 33px;
  padding-left: 20px;
  width: 276px;
  height: 59px;
}
//borders around input info
.forms__input-name {
  border: 2px solid #e5e5e5;
}
.forms__input-name:hover {
  border-color: $dark-color;
}
.forms__input-name:active {
  border-color: $pink-color;
}