@import "../variables";

//main logo with button
.header-wrapper-logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1px;
}

//links
.main-header__link {
  color: $white-color;
}
//links states
.main-header__link {
  text-decoration: none;
}
.main-header__link:hover {
  color: $pink-color;
}
.main-header__link:active {
  color: $pink-color-rgba;
}
@media (min-width: $desktop-width) {
  .header__toggle {
    display: none;
  }
  .header-wrapper-menu {
    display: flex;
    width: 940px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    
  }
  .header-wrapper-bg-color {
    width: 100%;
    background-color: rgba(27, 36, 47, 0.3);
    background-blend-mode: lighten;
  }
  .header-wrapper-logo {
    width: 150px;
  }
  .main-header {
    width: 100%;
    background-color: rgba(27, 36, 47, 0.3);
  }
}