@import "../variables";

.links-list {
  display: flex;
  width: 320px;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
}
.links-list--color {
  background-color: #1d2631;
  width: 100%;
  min-height: 320px;
}

//download button
.links-list__item:first-child {
  display: block;
  border: 3px solid #ffffff;
  border-radius: 50px;
  padding: 21px 58px 18px 59px;
  margin-top: 28px;
}

//margins for logos
.links-list__item:nth-child(n + 2) {
  margin-top: 40px;
  margin-bottom: 29px;
}

.links-list__item:nth-child(2) {
  margin-top: 32px;
  margin-bottom: 28px;
}

//links to blocks
//to make object clickable
.links-list__logo {
  pointer-events: none;
}
.links-list__link {
  display: block;
}
.links-list__android {
  width: 47px;
  height: 56px;
}
.links-list__apple {
  width: 43px;
  height: 47px;
}
.links-list__windows {
  width: 44px;
  height: 41px;
}
//Text below icons
.download-links__description {
  color: $color-text;
  text-align: center;
  width: 350px;
  margin: 0 auto;
}