@import "../variables";



.main-nav {
  padding: 0;
  margin: 0;
  
  text-align: center;
  text-transform: uppercase;

  line-height: 1.7;

  display: flex;
  flex-direction: column;
 
  margin: 0 auto;
}
//background color at mobile at tablet widths
.header-wrapper-menu--closed {
  width: 100%;
  background-color: rgb(29, 39, 50, 0.7);
}
.header-wrapper-menu--opened {
  background-color: $dark-color;
}
//shadows at top and bottom of the menu items
.header-wrapper-logo,
.main-nav__item {
  width: $mobile-block;
  min-height: 63px;

  padding: 30px 10px;

  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid $black-color;
}
.main-nav__item {
  width: 100%;
}
.main-nav__item,
.main-nav__link {
  color: $white-color;
}
//links states
.main-nav__link {
  text-decoration: none;
}
.main-nav__link--active {
  text-decoration: underline;
}
.main-nav__item a[href]:hover {
  color: $pink-color;
}
.main-nav__item a[href]:active {
  color: $pink-color-rgba;
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 700px;
    justify-content: space-between;
    flex-direction: row;
    padding: 47px 0 0 0;
  }
  .main-nav__item {
    min-width: 155px;
    margin: 0;
    padding: 0;
  }
  .header-wrapper-menu {
    background-color: transparent;
    position: relative;
    z-index: 2;
  }
  .header-wrapper-logo,
  .main-nav__item {
    box-shadow: none;
  }
}