@import "../variables";

.main-content--move-top {
  margin-top: -90px;
}
//photo page
.main-content--move-top .page-title {
  padding-top: 120px;
}
//form page
.main-content--move-top .award__title {
  padding-top: 126px;
  padding-bottom: 76px;
}
