@import "../variables";

.offers-section {
  background-color: $bg-color;
}

.offers-table {
  text-align: center;
  width: 995px;
  height: 280px;
  margin: 0 auto;
  // border-collapse: collapse;
 
}
.offers-table__head {
  color: $white-color;
}
.offers-table__tariff-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
}
.offers-table__tariff-cost {
  font-weight: lighter;
  line-height: 1.6;
}
.offers-table__header-cell {
  background-color: $dark-color;
  // border: 2px solid #e7e7e7;
}
.offers-table__data-cell {
  background-color: $white-color;
  width: 153px;
  height: 45px;
}

//offers cells
.offers-table__data-cell {
  text-transform: uppercase;
  height: 56px;
  width: 276px;
}

//hit on the second item in the top row
.offers-table__header-cell:nth-child(3) {
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;

  position: relative;
}
.offers-table__header-cell:nth-child(3)::before {
  content: "хит";
  position: absolute;
  width: 0;
  height: 0;
  top: 30px;
  left: 0;
  font-size: 14px;
  line-height: 2.1;
  font-weight: lighter;
  transform: rotate(-45deg);
  text-transform: uppercase;
}

//package of the offers
.offers-table__item-ok {
  background-image: url("../img/icon-yes-table.svg");
  background-repeat: no-repeat;
  background-position: 210px center;
  background-size: 31px 21px;
}
.offers-table__item-no {
  background-image: url("../img/icon-menu-cross.svg");
  background-repeat: no-repeat;
  background-position: 210px center;
  background-size: 27px 26px;
}

//controls for table
.offers-section {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
}
.offers-label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75px;
  height: 30px;
  margin: 0 auto;
  position: absolute;
  top: 94%;
  left: 46%;
}
[class*="input-offer"] {
  display: none;
}
.offer__check {
  display: block;
  width: 4px;
  height: 4px;
  padding: 3px;
  background-color: #bec2c7;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
//change styles on hover
.input-offer1:not(:checked) ~ .offers-label-wrapper label[for="offer1"],
.input-offer2:not(:checked) ~ .offers-label-wrapper label[for="offer2"],
.input-offer3:not(:checked) ~ .offers-label-wrapper label[for="offer3"] {
  opacity: 0.3;
}
.input-offer1:not(:checked):hover ~ .offers-label-wrapper label[for="offer1"],
.input-offer2:not(:checked):hover ~ .offers-label-wrapper label[for="offer2"],
.input-offer3:not(:checked):hover ~ .offers-label-wrapper label[for="offer3"] {
  opacity: 0.6;
}
.input-offer1:not(:checked):active ~ .offers-label-wrapper label[for="offer1"],
.input-offer2:not(:checked):active ~ .offers-label-wrapper label[for="offer2"],
.input-offer3:not(:checked):active ~ .offers-label-wrapper label[for="offer3"] {
  opacity: 0.1;
}
.input-offer1:checked ~ .offers-label-wrapper label[for="offer1"],
.input-offer2:checked ~ .offers-label-wrapper label[for="offer2"],
.input-offer3:checked ~ .offers-label-wrapper label[for="offer3"] {
  background-color: $bg-color;
  border: 3px solid $dark-color;
}
//table transitions
.input-offer1:checked ~ .offers-table {
  transform: translateX(-135px);
  transition: 0.9s;
}

.input-offer2:checked ~ .offers-table {
  transform: translateX(-415px);
  transition: 0.9s;
}

.input-offer3:checked ~ .offers-table {
  transform: translateX(-695px);
  transition: 0.9s;
}

@media (min-width: $tablet-width) {
  .offers-table {
    width: 620px;
  }
  .offers-label-wrapper {
    display: none;
  }
  .offers-table__item-mobile {
    font-size: 0;
  }
  .offers-table__item-ok,
  .offers-table__item-no {
    background-position-x: center;
  }
  .offers-table__header-cell,
  .offers-table__data-cell {
    width: 154px;
    height: 75px;
  }
  .input-offer1:checked ~ .offers-table,
  .input-offer2:checked ~ .offers-table,
  .input-offer3:checked ~ .offers-table {
    transform: none;
  }
  .offers-table__header-cell:nth-child(3) {
    background-position-y: -10px;
  }
  .offers-table__header-cell:nth-child(3)::before {
    top: 20px;
    left: -5px;
  }
  .offers-table__header-cell {
    text-transform: uppercase;
  }
  .offers-table__data-cell {
    
    text-transform: initial;
  }
  .offers-table__header-cell:nth-child(3) {
    background-image: url("../img/bg-hit-tablet.svg");
    background-repeat: no-repeat;
  
    position: relative;
  }
}
@media (min-width: $desktop-width) {
  .offers-table__header-cell,
  .offers-table__data-cell {
    width: 234px;
    height: 94px;
  }
 
  .offers-table {
    width: 940px;
  }
}