@import "../variables";

.offers-section {
  background-color: $bg-color;
}

.offers-table {
  text-align: center;
  width: 995px;
  height: 280px;
  // border-collapse: collapse;
 
}
.offers-table__head {
  color: $white-color;
}
.offers-table__tarrif-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
}
.offers-table__tarrif-cost {
  font-weight: initial;
  line-height: 1.6;
}
.offers-table__header-cell {
  background-color: $dark-color;
  // border: 2px solid #e7e7e7;
}
.offers-table__data-cell {
  background-color: $white-color;
  width: 153px;
  height: 45px;
}

//3 controls for tables
.offers-label-wrapper {
  margin: 0 auto;
}

//offers cells
.offers-table__data-cell {
  height: 56px;
  width: 276px;
}

//hit on the second item in the top row
.offers-table__header-cell:nth-child(3) {
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;

  position: relative;
}
.offers-table__header-cell:nth-child(3)::before {
  content: "хит";
  position: absolute;
  width: 0;
  height: 0;
  top: 30px;
  left: 0;
  font-size: 14px;
  line-height: 2.1;
  font-weight: lighter;
  transform: rotate(-45deg);
  text-transform: uppercase;
}

//package of the offers
.offers-table__item-ok {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: 210px center;
  background-size: contain;
}
.offers-table__item-no {
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-position: 210px center;
  background-size: contain;
}

//
.offers-section {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
.offers-label-wrapper {
  display: flex;
  justify-content: space-between;
  width: 70px;
  height: 30px;
  margin: 0 auto;
  position: absolute;
  top: 94%;
  left: 40%;
}
[class*="input-offer"] {
  display: none;
}
.offer__check {
  display: block;
  width: 3px;
  height: 3px;
  padding: 3px;
  background-color: $dark-color;
}