@import "../variables";


//text above first comment and below last one
.photo-section__text,
.upload-pictures {
  font-size: 14px;
  color: $dark-color;
  width: 210px;
  line-height: 1.6;
  margin: 55px auto;
  text-align: center;
}
.overshadow-them {
  display: block;
}
//text below last comment
// .upload-pictures {
//   font-size: 14px;
//   color: $dark-color;
// }
@media (min-width: $tablet-width) {
  .photo-section__text {
    width: 500px;
    line-height: 1.4;
    font-size: 18px;
  }
}