@import "../variables";

.photo-list {
  padding: 0;
}
//picture of the day
.photo-list__item {
  width: 100%;
  margin: 0 auto;
}
.main-photo {
  max-width: 100%;
}
//comment section
.photo-name,
.photo-list__comment,
.top-comment--comment {
  font-size: 14px;
  line-height: 1.7;
  color: $dark-color;
  text-align: initial;
}
.photo-list__comment,
.top-comment--comment {
  width: 240px;
  
  margin: 0 auto;
}
.photo-name {
  padding-left: 20px;
  font-weight: bold;
  text-align: center;
}
.photo-time {
  font-size: 12px;
  line-height: 2;
  text-align: initial;
}
.photo-wrapper {
  width: $mobile-block;
  margin: 0 auto;
  background-color: $bg-color;
}
.photo-list__likes,
.top-comment--likes {
  color: $pink-color;
  font-size: 14px;
  line-height: 2;
  padding-left: 50px;
}

@media (min-width: $tablet-width) {
  .photo-list {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .photo-list__item {
    width: 300px;
  }
  .photo-list__likes {
    padding-left: 20px;
  }
  //top comment
  .top-comment--wrapper {
    display: flex;
    width: 620px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }
  .top-comment--by {
    order: 1;
    padding-left: 36px;
    margin-bottom: 5px;
  }
  .top-comment--likes {
    order: 2;
    margin-bottom: 0cm;
    padding-right: 95px;
  }
  .top-comment--comment {
    order: 3;
    padding-bottom: 20px;
    width: 510px;
  }
  .main-photo {
    height: fit-content;
    width: 100%;
    display: block;

  }
  .jump-wrapper {
    width: 100%;
  }
}